<hr>
<footer>
    <blockquote>
        Copyright 2023 Colin Miller. My opinions are my own and not representative of anyone I've ever worked for or will work for.
    </blockquote>
    <div class="center">
        <p class="feed-subscribe">
            <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}">
                <img class="svg-icon" src="{{ 'assets/images/rss.svg' | relative_url }}" />
                <span>Subscribe</span>
            </a>
        </p>
    </div>

    {% include disqus.html %}

</footer>